<!-- Employee Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="employeeForm" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <!-- Hidden ID -->
                    <input type="hidden" name="EmployeeId" id="EmployeeId" />

                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label>Name</label>
                            <input type="text" class="form-control" name="EmployeeName" required />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Email</label>
                            <input type="email" class="form-control" name="EmployeeEmail" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Phone</label>
                            <input type="text" class="form-control" name="EmployeePhone" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Designation</label>
                            <input type="text" class="form-control" name="Designation" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Department</label>
                            <input type="text" class="form-control" name="Department" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Salary</label>
                            <input type="number" class="form-control" name="Salary" />
                        </div>

                        <!-- FILES -->
                        <div class="col-md-6 mb-2">
                            <label>Profile Photo</label>
                            <input type="file" class="form-control" name="profileFile" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Aadhaar</label>
                            <input type="file" class="form-control" name="aadhaarFile" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>PAN</label>
                            <input type="file" class="form-control" name="panFile" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Agreement PDF</label>
                            <input type="file" class="form-control" name="agreementFile" />
                        </div>

                        <div class="col-md-6 mb-2">
                            <label>Signature</label>
                            <input type="file" class="form-control" name="signatureFile" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>